<!DOCTYPE html><html lang="fr">
<meta name="description" content="modification d'une lecture"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Modification d'une lecture</title>
<h1>Modifier un livre</h1>
<form role="contentinfo" action="/updatereading" method="POST">
    <input type ="hidden" name ="ReadingID" value = "<%= ReadingID %>" > 
    Titre : 
    <input aria-label="name" type="text" name="Bookname" value="<%= Bookname %>" ><br> </br>
    Auteur:
    <input aria-label="author" type="text" name="Author" value="<%= Author %>"> <br> </br>
    Date de parution:
    <input aria-label="publication" type="number" name="Publication"  value = "<%= Publication %>"><br> </br>
    Pages
    <input aria-label="pages" type="number" name="Pages" value="<%= Pages %>"><br> </br>
    Catégorie: 
    <input aria-label="id" type="number" min="0" max="10" name="FK_CatégorieID"  value = "<%= FK_CatégorieID %>"><br> </br>
    Statut : 
    <input aria-label="statut" type="text" enum="A lire, En cours, Lu" name="Statut"  placeholder="En cours, Lu, A lire" value = "<%= Statut %>"> </br> </br>

    <input aria-label="save button" role="button" class="Save" type="submit" name="save" value="Sauver"><br> </br>
</form>
<form role="button" action="/mainpage" method="get">
    <button class="Back" type="submit"> Retour à la liste </button> </br>
 </form>
</html>

 <style>

    body{
        background-color:honeydew;
        width: 100%;
        margin-left: 50px;
    }

    form{
        background-color: #E0E0E0;
        width:25%;
        text-align:justificy;
        border-width: 2px;
        border-style: groove;
        border-image: initial;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 6px;
    }

    input{
        border-radius: 2px 2px 2px;
    }

    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	    background-color: black;
        width:25%;
        text-align:center;
        border-radius: 50px;
	    color: white;
    }

    .Save{
        border-radius: 12px;
        background-color: black;
        border: white;
        color: white;
        font-family: Georgia;
        font-size: 18px;
    }

    .Back{
        border-radius: 12px;
        background-color: green;
        border: white;
        color: white;
        font-family: Georgia;
        font-size: 18px;
    }

    @media only screen and (max-width: 500px)
    {
    
      body{
        margin: 0;
        padding: 0;
      }

      h1{
        font-size: 30px;
        border-radius: 10%;
        width: 100%;
      }

      ul,ol{
        margin: 0 0 0px 0px;
    }
        form{
        width:100%;
    }
    }