<!DOCTYPE html> <html lang="fr">
<meta name="description" content="modifier profil utilisateur"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Modification du profil utilisateur</title>

<h1>Modifier votre profil</h1>
<form role="contentinfo" action="/userUpdate/<%= userid %>" method="POST">
    <input  arial-label="iduser" role="textbox" type ="hidden" name ="userid" value = "<%= userid %>" >
    Nom : 
    <input  role="textbox" type="text" name="name" value="<%= name %>" ><br></br>
    Email:
    <input  role="textbox" type="email" name="email"  value = "<%= email %>"><br></br>
    Password : 
    <input  role="textbox" type="password" name="password" value="<%= password %>"><br></br>
    </table>
    <input  aria-label="save" role="button" class="Save" type="submit" name="save" value="Sauver"><br></br>
</form>
<form role="button" action="/mainpage" method="get">
    <button class="Back" type="submit"> Retour à la liste </button></br>
 </form>

</html>
 <style>

    body{
        background-color:honeydew;
        width: 100%;
        margin-left: 50px;
    }

    form{
        background-color: #E0E0E0;
        width:25%;
        text-align:justificy;
        border-width: 2px;
        border-style: groove;
        border-image: initial;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 6px;
    }

    input{
        border-radius: 2px 2px 2px;
    }

    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	    background-color: black;
        width:30%;
        text-align:center;
        border-radius: 50px;
	    color: white;
    }

    .Save{
        border-radius: 12px;
        background-color: black;
        border: white;
        color: white;
        font-family: Georgia;
        font-size: 18px;
    }

    .Back{
        border-radius: 12px;
        background-color: green;
        border: white;
        color: white;
        font-family: Georgia;
        font-size: 18px;
    }

    @media only screen and (max-width: 500px)
    {
    
      body{
        margin: 0;
        padding: 0;
      }

      h1{
        font-size: 30px;
        border-radius: 10%;
        width: 100%;
      }

      ul,ol{
        margin: 0 0 0px 0px;
      }
      input {
        font-size: 20px;
      }
    form{
        width: 96%;
        font-size: 30px; 
    }
    }
</style>